* {
  margin: 0;
}
body {
}
body h1 {
  font-size: 300%;
  text-align: center;
  margin-bottom: 2%;
}
body h3 {
  margin-bottom: 2%;
  color: orange;
}
.name {
  color: rgb(51, 131, 84);
  text-decoration: none;
}
section {
  display: flex;
  margin-bottom: 5%;
}
.first-section {
}
.first-section h1 {
}
.first-section h3 {
  font-size: 150%;
  text-align: center;
}
.first-section p {
  font-size: 120%;
  margin-bottom: 2%;
}
.hire-me {
  text-decoration: none;
  font-size: 120%;
  font-weight: 700;
  background-image: linear-gradient(orange, rgb(245, 68, 68));
  padding: 2%;
  border-radius: 5%;
}
.second-section {
}
.second-section h1 {
}
.second-section h3 {
  font-size: 150%;
  text-align: center;
}
.second-section p {
  font-size: 120%;
  margin-bottom: 2%;
}
.second-section a {
  font-weight: 700;
  padding: 2%;
  background-image: linear-gradient(grey, orange);
  text-decoration: none;
  border-radius: 5%;
  color: white;
}
.third-section {
}
.half-width {
  width: 50%;
  padding: 2%;
}
section img {
  width: 100%;
}
#experience {
}
.fourth-section div {
  box-shadow: 10px 5px 5px black;
  margin: 2%;
  border-image: linear-gradient(orange, cyan);
  border-left: 5px solid;
  border-image-slice: 1;
}
.fourth-section h3 {
  font-size: 130%;
  text-align: center;
}
.fourth-section p {
  font-size: 120%;
}
