* {
  color: white;
  background-color: rgba(0, 0, 0, 0.842);
  font-family: Arial, Helvetica, sans-serif;
  margin: 1%;
  border: 1px dashed yellow;
}

#mainDiv {
  width: 100%;
}
.gmailDiv {
  height: 30%;
  width: 30%;
  float: left;
  margin: 0.5%;
  padding: 0.5%;
  margin-left: 1.5%;
}
h1 {
  text-align: center;
}
p {
  text-align: justify;
  font-family: verdana;
}
